.help-modal-outside-color {
    background-color: var(--help-modal-outside-color);
}
.help-modal-outside-text-color {
    background-color: var(--help-modal-outside-text-color);
}
.help-modal-inside {
    background-color: var(--help-modal-inside-bg-color);
    color: var(--help-modal-inside-text-color);
}
.help-modal-text p, .help-modal-text div {
    margin: 4px 7px;
    padding-top:10px;
}
.help-modal-text ul {
    margin: 4px 10px 0 10px;
    padding: 0;
    list-style-type: square;
}
.help-modal-text ul li {
    margin: 10px;
}
