.help-modal-outside-color {
    background-color: var(--help-modal-outside-color);
}
.help-modal-outside-text-color {
    background-color: var(--help-modal-outside-text-color);
}
.help-modal-inside {
    background-color: var(--help-modal-inside-bg-color);
    color: var(--help-modal-inside-text-color);
}
