.location-chooser-header-text {
    color: var(--location-chooser-header-text);
}
.location-chooser-item-text {
    color: var(--location-chooser-item-text-color);
    background-color: var(--location-chooser-item-background-color);
}
