.close-button {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.left-right {
  height: 2px;
  width: 25px;
  position: absolute;
  margin-top: 12px;
  background-color: var(--close-button-color);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.right-left {
  height: 2px;
  width: 25px;
  position: absolute;
  margin-top: 12px;
  background-color: var(--close-button-color);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}


.close-button:hover .left-right {
  transform: rotate(-45deg);
  background-color: var(--close-button-color-hover);
}

.close-button:hover .right-left {
  transform: rotate(45deg);
  background-color: var(--close-button-color-hover);
}

.close-button:hover label {
  opacity: 1;
}

