[data-theme="light"] {
    --color-absolute-background:#ffffff;
    --color-background: #ced2e0;
    --color-deep-background: #d9ddeb;
    --color-semi-deep-background: #f3f1ff;
    --color-text: #213547;
    --color-link: #646cff;
    --color-link-hover: #535bf2;
    --color-button-background: #f9f9f9;
    --color-button-hover: #b4bcff;
    --color-header-background: #f9f9f9;
    --time-remaining-color:#559;
    --time-text-was-color:rgb(160, 72, 38);
    --time-text-remaining-color:#766;
    --zman-time-text-color:#448844;
    --zman-type-name-text-color:#222288;
    --zman-type-name-text-was-color:#225;
    --basad-color: #aaa;
    --location-text-color: #555;
    --close-button-color:#952;
    --close-button-color-hover:#a31;
    --day-notes-text-color: #5555aa;
    --tefillah-notes-text-color: #3b4a5a;
    --tefillah-notes-background-color: #c6c6da;
    --date-text-color: #a58891;
    --s-date-text-color: #887766;
    --time-text-color: #383366;
    --help-modal-outside-color:var(--color-background);
    --help-modal-outside-text-color:#544;
  }
  
  [data-theme="dark"] {
    --color-absolute-background:#000;
    --color-background: #242424;
    --color-deep-background: #1e1e1e;
    --color-semi-deep-background: #2e2e2e;
    --color-text: rgba(255, 255, 255, 0.87);
    --color-link: #646cff;
    --color-link-hover: #535bf2;
    --color-button-background: #1a1a1a;
    --color-button-hover: #646cff;
    --color-header-background: #27272a;
    --time-remaining-color:#ffffee;
    --time-text-was-color:#844;
    --time-text-remaining-color:#a99;
    --zman-time-text-color:#99bb99;
    --zman-type-name-text-color:#9999ff;
    --zman-type-name-text-was-color:#555588;
    --basad-color: #333;    
    --location-text-color: var(--color-text);
    --close-button-color:rgba(244, 162, 89, 0.35);
    --close-button-color-hover:rgba(242, 92, 102, 0.44);
    --day-notes-text-color: #7777aa;
    --tefillah-notes-text-color: #889999;
    --tefillah-notes-background-color: #191920;
    --date-text-color: #bb8888;
    --s-date-text-color: #887766;
    --time-text-color: #559955;
    --help-modal-outside-color: #343434;
    --help-modal-outside-text-color:#877;
  }